//
// This file defines common settings that should be enabled for every new
// watchOS-related framework.
//

// Import tvOS Common Configuration
#include "watchOS-Common.xcconfig"

// Ensure we are setting framework values where appropriate.
#include "../Universal-Framework.xcconfig"

// Where to find embedded frameworks
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
