//
// This are configuration options specific to all internal watchOS applications.
// This file should not be considered standalone. It should instead be imported
// into your target specific xcconfig.
//

// Import Common Configuration
#include "../watchOS-Common.xcconfig"

// It's a Swift app.
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES

// And Automatic Code Signing.
CODE_SIGN_STYLE = Automatic
