//
// This are configuration options specific to all internal macOS frameworks.
// This file should not be considered standalone. It should instead be imported
// into your target specific xcconfig.
//

// Import macOS Common Configuration
#include "macOS-Common.xcconfig"

// We support extensions in the app. If a framework doesn't need to be extension friendly, override it in the project-specific configuration.
APPLICATION_EXTENSION_API_ONLY = YES

// We don't actually install these since we're on iOS.
SKIP_INSTALL = YES

// This is basically a default setting that shouldn't be overridden.
INSTALL_PATH = @rpath

// Auto Link any frameworks we use by default.
CLANG_MODULES_AUTOLINK = YES

// Disable code signing for successful device builds with Xcode 8. Frameworks do
// need to be signed, but they don't need to be signed at compile time because
// they'll be re-signed when you include them in your app.
CODE_SIGNING_REQUIRED = NO
CODE_SIGN_IDENTITY =

// Whether to strip out code that isn't called from anywhere
DEAD_CODE_STRIPPING = NO

// Default frameworks to the name of the project, instead of any
// platform-specific target
PRODUCT_NAME = $(PROJECT_NAME)

// Enables the framework to be included from any location as long as the
// loader’s runpath search paths includes it. For example from an application
// bundle (inside the "Frameworks" folder) or shared folder
LD_DYLIB_INSTALL_NAME = @rpath/$(PRODUCT_NAME).$(WRAPPER_EXTENSION)/$(PRODUCT_NAME)
