//
// This are configuration options specific to all internal macOS applications.
// This file should not be considered standalone. It should instead be imported
// into your target specific xcconfig.
//

// Import macOS Common Configuration
#include "macOS-Common.xcconfig"

// It's a Swift app.
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES

// Default to automatic signing with a developer cert.
CODE_SIGN_IDENTITY = Mac Developer

// And Automatic Code Signing.
CODE_SIGN_STYLE = Automatic
