//
// This file defines common settings that should be enabled for every new
// macOS related project or target.
//

#include "../Universal-Common.xcconfig"

// Where to find embedded frameworks
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks

// The macosx SDK.
SDKROOT = macosx

// Supported build architectures
VALID_ARCHS = x86_64 arm64 arm64e
