//
// This are configuration options specific to all internal iOS applications.
// This file should not be considered standalone. It should instead be imported
// into your target specific xcconfig.
//

// Import iOS Common Configuration
#include "iOS-Common.xcconfig"

// Apps ain't extensions.
APPLICATION_EXTENSION_API_ONLY = NO

// It's a Swift app.
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES

// Default to automatic signing with a developer cert.
CODE_SIGN_IDENTITY = iPhone Developer

// And Automatic Code Signing.
CODE_SIGN_STYLE = Automatic

// Add our frameworks to the search path so we don't need to link / copy them into this bundle.
LD_RUNPATH_SEARCH_PATHS = @executable_path/Frameworks @loader_path/Frameworks
