//
// This are configuration options specific to all internal iOS test bundles.
// This file should not be considered standalone. It should instead be imported
// into your target specific xcconfig.
//

// Import iOS Common Configuration
#include "iOS-Common.xcconfig"

// Ensure we are setting framework values where appropriate.
#include "../Universal-XCTest.xcconfig"

// This is basically a default setting that shouldn't be overridden.
INSTALL_PATH = $(LOCAL_LIBRARY_DIR)/Frameworks

// Path where the compiler should search for our prebuilt frameworks.
FRAMEWORK_SEARCH_PATHS = $(BUILT_PRODUCTS_DIR)

// Auto Link any frameworks we use by default.
CLANG_MODULES_AUTOLINK = YES

// Tests don't need to worry about this.
APPLICATION_EXTENSION_API_ONLY = NO
