//
// This file defines common settings that should be enabled for every new
// tvOS related project or target.
//

#include "../Universal-Common.xcconfig"

// tvOS product only.
SDKROOT = appletvos

// Target tvOS specific devices.
TARGETED_DEVICE_FAMILY = 3

// Where to find embedded frameworks
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
