//
// This file defines common settings that should be enabled for every new
// tvOS-related framework.
//

// Import tvOS Common Configuration
#include "tvOS-Common.xcconfig"

// Ensure we are setting framework values where appropriate.
#include "../Universal-Framework.xcconfig"

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
