// This the base configuration for any development configuration.

// Only build the current architecture.
ONLY_ACTIVE_ARCH = YES

// Don't do any Swift optimization so developers' lives are easier.
SWIFT_OPTIMIZATION_LEVEL = -Onone

// Don't do any Objective-C optimization so developers' lives are easier.
GCC_OPTIMIZATION_LEVEL = 0

// Enable single file compilation mode for incremental build support.
SWIFT_COMPILATION_MODE = singlefile

// Allow @testable imports
ENABLE_TESTABILITY = YES

// Enable compile time checks using #if JWW_DEVELOPMENT_BUILD
SWIFT_ACTIVE_COMPILATION_CONDITIONS = $(inherited) JWW_DEVELOPMENT_BUILD DEBUG

// Whether to strip debugging symbols when copying the built product to its
// final installation location
STRIP_INSTALLED_PRODUCT = NO

// We don't need the dSYM for development builds.
DEBUG_INFORMATION_FORMAT = dwarf
